*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{background-color: rgb(114, 110, 100);}
.bg-bisq{
    background-color: rgb(43, 170, 255);
    padding: 20px;
}
.boxer{
    display: flex;
    justify-content: center;
}
.bg-gold{
    background-color:gold;
    padding: 20px;
}
.box{
    white-space: nowrap;/* alt satıra geçmesini engelle*/
    overflow: hidden;/*taşan içeriği gizle*/
    text-overflow: ellipsis; /*taşan yazıya üç nokta koy*/
    width: 100px;
    height: 100px;
    float: left;/* sola dayalı sırala*/
    margin: 20px;
    border-radius: 10px;
}
.box:hover{
    background-color: rgb(255, 118, 54);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 10px 5px #aaaaaa;

    color: #fff;
}
.clear-fix{
    clear: both; /* floatları temizle*/
}
main{
    width: 900px;
    margin: 20px  auto 0;
}
main>aside{
    
    float: left;
    width: 30%;
    
}
main>section{
    margin-left:1%;
    float: left;
    width: 69%;
}